@import "tailwindcss";


@theme {
  --color-brand-light: #f97316;
  --color-brand: #ea580c;
  --color-brand-dark: #c2410c;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}